@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --color: #333333;
  --font-Outfit: var(--font-Outfit);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-Inter);

  scrollbar-color: #f59e0b #fff;
  scrollbar-width: thin;
  scrollbar-arrow-color: #f59e0b ;
}

body {
  background: var(--background);
  color: var(--color);
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-hide {
  scrollbar-width: none;
}
