@import "tailwindcss";

:root {
  --background: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --font-Outfit: var(--font-Outfit);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-Inter);
}

body {
  background: var(--background);
}
