@import "tailwindcss";

:root {
  --background: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --font-Outfit: var(--font-Outfit);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-Inter);
}

body {
  background: var(--background);
}


.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}